
  /* Genel sayfa yapısı */
.chat-main-container {
  display: flex;
  height: 100vh;
}
  
  /* Chat & Video container */
.chat-video-container {
  background-color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  
}

  /* Video bölümü */
.video-section {
  margin-top: 10px;
  position: relative;
  background-color: black;
  height: 60vh;
}

.video-section video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Video başlığı */
.video-author {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}
  /* Chat bölümü */
.chat-section {
  padding: 16px;
}

.chat-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 16px;
}

/* Mesaj kutusu */
.chat-box {
  display: flex;
  flex-direction: column;
  height: 20vh;
  border: 1px solid #e2e8f0;
  border-radius: 5px;
  padding: 10px;
  overflow-y: auto;
  background-color: #f7fafc;
}

  /* Mesajlar */
.chat-message {
  padding: 8px;
  max-width: 80%;
  background-color: #e2e8f0;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 6px;
}

.chat-message strong {
  font-weight: bold;
}

/* Mesaj yazma alanı */
.input-container {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.chat-input {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #cbd5e0;
  border-radius: 5px;
}

.send-button {
  padding: 8px 12px;
  background-color: #3182ce;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.send-button:hover {
  background-color: #2b6cb0;
}